path { 
    stroke: grey;
    stroke-width: 1.5;
    fill: none;
}

path:hover { 
    stroke:blue;
    stroke-width: 2;
}

line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 2;
}

#versions {
    background-color: grey;
    width:10;
    height:20;
}


.link {
	fill: none;
	stroke: #555;
	stroke-opacity: 0.4;
	stroke-width: 1.5px;
}

.chart { 
    background: #fff;
  }
  
.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
  
  button {
    position: absolute;
    right: 50px;
    top: 10px;
  }
